.container-forgot {
    display: flex;
    min-height: 100vh;
}

.left-forgot {
    flex: 0 0 30%;
}

.right-forgot {
    max-height: 500px;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

.right-forgot .title {
    margin-bottom: 20px;
}

.right-forgot .body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-forgot .otp-dialog input,
.right-forgot .otp-dialog button {
    margin-bottom: 10px;
}

.right-forgot .show_password {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.senEmail,
.otp-dialog input {
    /* margin-bottom: 10px;*/
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 100%;*/

    box-sizing: border-box;
}

.submit,
.otp-dialog button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:disabled,
.otp-dialog button:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

.forgot {
    color: #505c8c;
    margin-top: 10px;
    text-align: center;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link span {
    color: #4caf50;
    cursor: pointer;
}

.otp-dialog {
    display: flex;
    flex-direction: column;
}

.otp-dialog button {
    margin-top: 10px;
}

.show_password {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.show_password input {

}



